@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Playpen Sans", cursive;
}
         

.portfolio-item {
  transition: opacity 0.35s ease, transform 0.35s ease;
}

.portfolio-item.hide {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.portfolio-item.show {
  opacity: 1;
  transform: scale(1);
}





